
thead, tbody, th{
    text-align: center;
    color: blanchedalmond;
    border: 1px solid #323c5e;
    width: 100px;
    word-wrap: break-word;
    background-color:#768cd3 ;
}

td{
    text-align: center;
    color: black;
    border: 1px solid #323c5e;
    width: 100px;
    word-wrap: break-word;
    background-color:#fcfcfc
}