.Grilla{
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
}


.Card{width:22vw ;
    height:30vw;

}
.CardHeader{
    text-align:center;
    justify-content: center;
    min-height: 60px;
    color: black;
    font-size:1.2vw;
    text-justify: auto;

}

.CardBody{
    height: 5vw;
    font-size: 1vw;
    color: forestgreen;
}


.CardImage{
    align-self: center;
    justify-content: center;
    max-width: 180px;
    min-height: 200px;
    max-height:200px;
}

.CardFotter{
    text-align:center;
    justify-content: center;
    color: black;
    font-size: 1vw;
   

}

@media (max-width: 800px){
    .Card{width:55vw ;
        height:60vw;
    
    }
    .CardHeader{
        width: 100%;
        text-align:center;
        justify-content: center;
        height: 70px;
        color: black;
        font-size:2.2vw ;
    
    }
    
    .CardImage{
        align-items: center;
        justify-content: space-around;
        width:80%;
        height: 60%;
        
    
    }

    .CardBody{
        height: 10vw;
        color: forestgreen;
    }
    

    
}


@media (max-width: 600px){
    .Card{width:55vw ;
        height:80vw;
    
    }
    .CardHeader{
        width: 100%;
        text-align:center;
        justify-content: center;
        height: 70px;
        color: black;
        font-size:3vw ;
    
    }
    
    .CardImage{
        align-items: center;
        justify-content: space-around;
        width:80%;
        height: 60%;
        
    
    }

    .CardBody{
        height: 10vw;
        color: forestgreen;
    }
    

    
}